# Get API keys from https://geomi.dev
# Use a client/browser key for frontend apps.

VITE_APTOS_API_KEY=
VITE_APTOS_TESTNET_API_KEY=
VITE_APTOS_SHELBYNET_API_KEY=
VITE_SHELBY_API_KEY=
VITE_SHELBY_TESTNET_API_KEY=
VITE_SHELBY_SHELBYNET_API_KEY=
